@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');
* {
    box-sizing: border-box;
}



body {
    background-color: #FCFCFC;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 10px;
}

.container h2 {
    font-family: 'Kanit', sans-serif;
    margin: 4px;
}

.quiz {
    background-color: #FADEE2;
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .4);
}

.container .op {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 3px;
    font-size: 13px;
}

.container .quiz .q p {
    padding: 3px 10px;
    
}

.quiz .q {
    font-family: 'Poppins', sans-serif;
}

.quiz .q2 {
    display: none;
}
.quiz .q3 {
    display: none;
}
.quiz .q4 {
    display: none;
}
.quiz .q5 {
    display: none;
}

.container .next {
    background-color: #010055;
    color: #fff;
    border: 0;
    margin-top: 20px;
    padding: 6px 20px;
}

i {
    float: right;
    margin-top: 4px;
}

i.fa-times {
    font-size: 20px;
}
